<div class="columns is-centered">
  <div class="column is-5">
    <div class="card">
      <header class="card-header"></header>
      <div class="card-content">
        <div class="tabs">
          <ul>
            <li [ngClass]="{'is-active': showingLogin}" (click)="showLogin()">
              <a>Log In</a>
            </li>
            <li [ngClass]="{'is-active': showingSignup}" (click)="showSignup()">
              <a>Sign Up</a>
            </li>
          </ul>
        </div>
        <app-login-form *ngIf="showingLogin"></app-login-form>
        <app-signup-form *ngIf="showingSignup"></app-signup-form>
      </div>
    </div>
  </div>
</div>