<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="catalog">
      <img src="assets/img/logo.png" alt="">
      <p>SpaceDust</p>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <a routerLink="/new-exoplanet" class="navbar-item">
    <i class="fa fa-plus-circle"></i>
    <span class="has-icon-left">Add Exoplanet</span>
  </a>

  <div class="navbar-end">
    <a class="navbar-item" routerLink="login" *ngIf="!authService.isAuthenticated()">
      <i class="fa fa-sign-in"></i>
      <span class="has-icon-left">Log In</span>
    </a>
    <a class="navbar-item" (click)="logout()" *ngIf="authService.isAuthenticated()">
      <i class="fa fa-sign-out"></i>
      <span class="has-icon-left">Log Out</span>
    </a>
  </div>

</nav>